<div class="container">
    <div class="TopRight">
        <a class="btn" asp-area="" asp-controller="Home" asp-action="Index">Home</a>
    </div>

    <h3 style="text-align: center; margin: 20px;">
        Developed by:
    </h3>

    <br />
    <div class="row">
        <div class="col-6">
            <h5 style="font-weight:bold;">Erick da Fonseca Pachi</h5>
            <br />
            <p><span style="font-weight:bold;">Email:</span> erickf.pachi@gmail.com</p>
            <p><span style="font-weight:bold;">Phone:</span> 0412020730</p>
        </div>

        <div class="col-6">
            <h5>Aslo check out my:</h5>
            <br />
            <span class="col- col-sm-4"><a href="https://www.linkedin.com/in/erick-da-fonseca-pachi-3a0331163/" class="btn">LinkedIn</a></span>
            <span class="col- col-sm-4"><a href="https://erickpachi.github.io/Portfolio" class="btn">Portfolio</a></span>
            <span class="col- col-sm-4"><a href="https://github.com/ErickPachi" class="btn">GitHub</a></span>
        </div>
    </div>
    <hr />
</div>

