@{
    ViewData["Title"] = "FoodMenu";
}
<h2>@ViewData["Title"]</h2>

<h3>@ViewData["Message"]</h3>
<div class="container">
    <div class="row">
        <div class="col-md-3">
            <br />
            <h2>Based On Mexican Food!</h2>
            <p>We made it really traditional taste, simple and you can choose spicy or mild!</p>
        </div>
        <div class="col-md-6 menuf">
            <br />
            <h5 style="text-align:center">Main Food</h5>
            <hr />
            <h6 style="text-align:center; color:darkturquoise">Step 1: Choose which main food</h6>
            <div style="float: left">Burrito</div>
            <div style="float: right;text-align: right">$14</div>
            <div style="clear: both"></div>
            <div style="float: left">Burrito bowl</div>
            <div style="float: right;text-align: right">$15</div>
            <div style="clear: both"></div>
            <div style="float: left">Nachos</div>
            <div style="float: right;text-align: right">$15</div>
            <div style="clear: both"></div>
            <div style="float: left">Tacos</div>
            <div style="float: right;text-align: right">$4</div>
            <div style="clear: both"></div>
            <div style="float: left">Enchilada</div>
            <div style="float: right;text-align: right">$14</div>
            <div style="clear: both"></div>
            <br />
            <h6 style="text-align:center; color:darkturquoise">Step 2: How level taste</h6>
            <ul>
                <li>Mild</li>
                <li>Spicy</li>
                <li>Super Spicy</li>
            </ul>
            <br />
            <h6 style="text-align:center; color:darkturquoise">Step 3(option): Extra sause or salsa</h6>
            <div style="float: left">BBQ sause</div>
            <div style="float: right;text-align: right">free</div>
            <div style="clear: both"></div>
            <div style="float: left">Habanero Sause</div>
            <div style="float: right;text-align: right">free</div>
            <div style="clear: both"></div>



            <h6 style="text-align:center; color:darkturquoise">Step 4(option): Make it a meal!</h6>
            <div style="float: left">Combo(Small Chips and Drinks)</div>
            <div style="float: right;text-align: right">+$5</div>
            <div style="clear: both"></div>


            <br />
            <h5 style="text-align:center">Side Dish</h5>
            <hr />
            <div style="float: left">Salads</div>
            <div style="float: right;text-align: right">$12</div>
            <div style="clear: both"></div>
            <div style="float: left">Corn Chips</div>
            <div style="float: right;text-align: right">$3</div>
            <div style="clear: both"></div>
            <div style="float: left">Chips</div>
            <div style="float: right;text-align: right">Small $3</div>
            <div style="clear: both"></div>
            <div style="float: left"></div>
            <div style="float: right;text-align: right">Large $4</div>
            <div style="clear: both"></div>
            <div style="float: left">Churros</div>
            <div style="float: right;text-align: right">$3</div>
            <div style="clear: both"></div>

            <br />
            <h5 style="text-align:center">Drinks</h5>
            <hr />
            <div style="float: left">Coke</div>
            <div style="float: right;text-align: right">$3</div>
            <div style="clear: both"></div>
            <div style="float: left">Coke Zero</div>
            <div style="float: right;text-align: right">$3</div>
            <div style="clear: both"></div>
            <div style="float: left">Sprite</div>
            <div style="float: right;text-align: right">$3</div>
            <div style="clear: both"></div>
            <div style="float: left">Orange Juice</div>
            <div style="float: right;text-align: right">$3.50</div>
            <div style="clear: both"></div>
            <br />
                <a class="btn col- col-md-4 offset-md-4" asp-area="" asp-controller="Reservation" asp-action="Reservation">Booking Now</a><br />
        </div>
    </div>
</div>
<br />


