
@{
    ViewData["Title"] = "Privacy";
}
    <div class="container">
        <h1>What is this?!?</h1>
        <div class="TopRight">
            <a class="btn" asp-area="" asp-controller="Home" asp-action="Index">Home</a>
        </div>
        <h5>How did you get here?...</h5>
        <p>This is supposed to be private.</p>
        <br />
        <p>Oh, well...</p>
        <p>Have you tried making a <a asp-area="" asp-controller="Reservation" asp-action="Reservation">RESERVATION</a>?</p>
    </div>
