
@{
    ViewData["Title"] = "Privacy";
}
    <div class="container">
        <img src="~/images/Capture.PNG" />
        <h1>What is this?!?</h1>
        <h5>How did you get here?...</h5>
        <p>This is supposed to be private.</p>

        <a class="btn" asp-area="" asp-controller="Home" asp-action="Index">Home</a>
    </div>
